<h1>Welcome to the Library</h1>

<form action="/" method="post">
  <div class="form-group">
    <label for="name" class="form-label">Enter your name to make account</label>
    <input type="text" name="name" class"form-control" id="name" placeholder="my name">
    <button type="submit" class="button btn">Make Account</button>
  </div>
</form>

<div class="container">
  <a href="/make_book">Add book to catalog</a>
</div>

<div class="container">
  <a href="/checkout_book">Checkout book</a>
</div>


<% if @patron_list.any?()%>
  <% @patron_list.each() do |patronz|%>
  <a href=<%'/patron_display/<%= patronz.patron_id %>'><li><%= patronz.name()%></li></a>
  <% end %>
<% end %>

<%= @patron_listzz %>
