<!-- form to create patron goes here -->
<!-- first name -->
<!-- last name -->
<h2>Hey your name and everyones' is </h2>


  <% if @patron_list.any?() %>
    <% @patron_list.each() do |patronz| %>
    <%= patronz.name() %>
    <% end %>
  <% end %>
