
<h2>Hey your name is </h2>


  <% if @patron_list.any?() %>
    <% @patron_list.each() do |patronz| %>
    <% if patronz.patron_id == Patron.find(@patron_id).patron_id %>
      <%= patronz.name %>
      <% end %>
    <% end %>
  <% end %>

  <div class="container">
    <a href="/">Return Home</a>
  </div>
